<div class="dialog-header" mat-dialog-title>
  <span class="dialog-header-text">{{t.resetPasswordDialog.header}}</span>
  <button (click)="onCancelClick()" class="close-dialog-button"
          mat-icon-button>
    <mat-icon class="close-dialog-icon">clear</mat-icon>
  </button>
</div>
<div class="dialog-content" mat-dialog-content>
  <form (ngSubmit)="form.valid && onSubmit()"
        [formGroup]="form"
        class="flex-column spacer">

    <mat-form-field>
      <mat-label>{{t.auth.formLabels.password}}</mat-label>
      <input [maxlength]="PASSWORD_MAX_LENGTH"
             [minlength]="PASSWORD_MIN_LENGTH"
             formControlName="password"
             matInput
             required
             type="password"
             appAutoFocus>
      <mat-error *ngIf="passwordControl.hasError('required')">
        {{t.forms.validationMessages.requiredField}}
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength')">
        {{
        TranslationUtils.interpolate(
          t.forms.validationMessages.passwordTooShort,
          {length: PASSWORD_MIN_LENGTH})
        }}
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('maxlength')">
        {{
        TranslationUtils.interpolate(
          t.forms.validationMessages.passwordTooLong,
          {length: PASSWORD_MAX_LENGTH})
        }}
      </mat-error>
    </mat-form-field>

    <button [disabled]="form.invalid"
            class="auth-components-action-button"
            color="primary"
            mat-raised-button
            type="submit">
      {{t.resetPasswordDialog.submitButton}}
    </button>
  </form>
</div>

<div *ngIf="isLoading$ | async"
     class="spinner-container">
  <mat-spinner>
  </mat-spinner>
</div>
