@import "app/shared/styles/common";

.header {
  display: flex;
  position: relative;

  .header-text {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .close-dialog-button {
    position: absolute;
    $margin: 18px;
    top: -$margin;
    right: -$margin;

    .close-dialog-icon {
      color: $dark-grey;
    }
  }
}
