<form [formGroup]="form"
      class="flex-column spacer"
      novalidate
      (submit)="onSubmit()">
    <mat-form-field>
        <input matInput
               placeholder="Enter the band name"
               formControlName="name">
        <mat-error *ngIf="form.get('name').invalid">Required field</mat-error>
    </mat-form-field>

    <mat-form-field>
            <textarea matInput
                      placeholder="Description"
                      formControlName="description"></textarea>
        <mat-error *ngIf="form.get('description').invalid">Required field</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
            <mat-option
                    *ngFor="let city of cities"
                    [value]="city">
                {{city}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('city').invalid">Required field</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Genres</mat-label>
        <mat-select formControlName="genres" multiple>
            <mat-option
                    *ngFor="let genre of genres"
                    [value]="genre">
                {{genre}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('genres').invalid">Required field</mat-error>
    </mat-form-field>

    <div class="save-button-container">
        <button type="submit"
                mat-raised-button
                [disabled]="form.invalid"
                color="primary">{{saveButtonText}}</button>
    </div>
</form>
