<div class="app-form-wrapper">
    <h3 class="app-form-header">Изменить профиль</h3>

    <mat-accordion *ngIf="band$ | async">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Общая информация
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-main-band-info
                    *ngIf="!!(band$ | async)"
                    [info]="band$ | async"
                    (saveClick)="onMainInfoSave($event)">
            </app-main-band-info>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Контакты
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-band-contacts *ngIf="!!(band$ | async)"
            [contacts]="band$ | async"
            (saveClick)="onContactsSave($event)">
            </app-band-contacts>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ссылки
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-band-links *ngIf="!!(links$ | async)"
                               [links]="links$ | async"
                               (linksChange)="onLinksSave($event)">
            </app-band-links>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Цены
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-band-prices *ngIf="!!(band$ | async)"
                             [prices]="band$ | async"
                             (pricesChange)="onPricesSave($event)"></app-band-prices>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Репертуар
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-covers-info
                    [covers]="covers$ | async"
                    (addCover)="onAddCover($event)"></app-covers-info>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Фото
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-edit-band-images
                    [band]="band$ | async"
                    (profileImageAttached)="onProfileImageAttached($event)"
                    (profileImageDelete)="onProfileImageDelete($event)"
                    (imageAttached)="onImageAttached($event)"
                    (imageDelete)="onImageDelete($event)"
            ></app-edit-band-images>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Аудио
                </mat-panel-title>
            </mat-expansion-panel-header>
            Аудио
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Видео
                </mat-panel-title>
            </mat-expansion-panel-header>
            Видео
        </mat-expansion-panel>

    </mat-accordion>

    <div class="spinner-spacer"
         *ngIf="!(band$ | async)">
        <mat-spinner>
        </mat-spinner>
    </div>

</div>


