<h4 class="app-info-block">Основное фото профиля</h4>
<app-images-uploader
        *ngIf="band"
        [imagesUrls]="band.profileImage ? [band.profileImage]: null"
        max="1"
        [isLoading]="isProfileImageLoading"
        [cropperSettings]="profileImageCropperSettings"
        [resizeSettings]="profileImageResizeSettings"
        (imageAttached)="onProfileImageAttached($event)"
        (imageDelete)="onProfileImageDelete($event)"
></app-images-uploader>

<h4 class="app-info-block">Загрузите другие фото</h4>
<app-images-uploader
        *ngIf="band"
        [imagesUrls]="band.images"
        [max]="maxImages"
        [isLoading]="isImageLoading"
        [resizeSettings]="bandImageResizeSettings"
        (imageAttached)="onImageAttached($event)"
        (imageDelete)="onImageDelete($event)"
></app-images-uploader>