@import "app/shared/styles/common";

:host {

  .video-providers-field {
    max-width: 100px;
  }

  .mat-column-link {
    a {
      width: 100%;
    }
  }

  .mat-column-remove {
    flex: 0 0 90px;
  }

}
