<h4 class="app-info-block">Добавьте ссылки на ваши видео</h4>
<form #formGroup="ngForm"
      (submit)="onLinkSubmit()"
      [formGroup]="form"
      class="app-one-line-form"
      novalidate>

  <mat-form-field class="video-providers-field margin-right-md">
    <mat-select formControlName="provider">
      <mat-option
        *ngFor="let provider of videoProviders"
        [value]="provider.id">
        {{provider.label}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('provider').invalid">Обязательное поле</mat-error>
  </mat-form-field>

  <mat-form-field class="margin-right-md ">
    <input formControlName="link"
           matInput
           placeholder="Ссылка">
    <mat-error *ngIf="linkRequiredError">Обязательное поле</mat-error>
    <mat-error *ngIf="videoEmbedFormatError">Неверный формат кода для вставки</mat-error>
  </mat-form-field>

  <button mat-icon-button
          matTooltip="Где взять ссылку?"
          matTooltipPosition="above"
          class="margin-right-sm"
          type="button">
    <mat-icon
      class="help-icon"
      color="primary">help
    </mat-icon>
  </button>

  <div>
    <button [disabled]="form.invalid"
            mat-raised-button
            type="submit">Добавить
    </button>
  </div>
</form>

<div class="app-form-table-container mat-elevation-z1">
  <mat-table *ngIf="linksExist"
             [dataSource]="videos" class="app-form-table">

    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef> Ссылка</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [href]="element.link"
           target="_blank">{{element.link}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" mat-cell>
        <button (click)="onLinkDelete(element)" color="primary"
                mat-button>Удалить
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
  </mat-table>
</div>
