<h4 class="app-info-block">Добавьте ссылки на ваши видео</h4>
<form #formGroup="ngForm"
      (submit)="onLinkSubmit()"
      [formGroup]="form"
      class="app-one-line-form"
      novalidate>

  <mat-form-field class="margin-right-md ">
    <textarea matInput
              placeholder="Код для вставки"
              formControlName="embed"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="8"
              required></textarea>
    <mat-error *ngIf="linkRequiredError">Обязательное поле</mat-error>
    <mat-error *ngIf="videoEmbedFormatError">Неверный формат кода для вставки</mat-error>
  </mat-form-field>

  <button mat-icon-button
          matTooltip="Где взять код для вставки?"
          matTooltipPosition="above"
          class="margin-right-sm"
          type="button"
          (click)="onHelpClick()">
    <mat-icon
      class="help-icon"
      color="primary">help
    </mat-icon>
  </button>

  <div>
    <button [disabled]="form.invalid"
            mat-raised-button
            type="submit">Добавить
    </button>
  </div>
</form>

<div class="app-form-table-container mat-elevation-z1">
  <mat-table *ngIf="linksExist"
             [dataSource]="videos" class="app-form-table">

    <ng-container matColumnDef="video">
      <mat-cell *matCellDef="let link">
        <app-embedded-video
          [width]="340"
          [src]="link"
        ></app-embedded-video>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-cell *matCellDef="let link" mat-cell>
        <button (click)="onLinkDelete(link)" color="primary"
                mat-button>Удалить
        </button>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
  </mat-table>
</div>
<mat-error *ngIf="noVideos">
  Добавьте хотя бы одно видео со своим выступлением
</mat-error>
<div class="app-save-button-container">
  <button (click)="onSaveButtonClick()"
          mat-raised-button
          [disabled]="noVideos"
          color="primary">{{saveButtonText}}</button>
</div>
