<div class="add-bands-container">
    <h4>Добавте песни, которые вы играете</h4>
    <form [formGroup]="addBandForm"
          class="add-bands-form"
          novalidate>
        <mat-form-field class="margin-right-md">
            <input matInput
                   placeholder="Enter the band name"
                   formControlName="bandName">
            <mat-error *ngIf="addBandForm.get('bandName').invalid">Required field</mat-error>
        </mat-form-field>

        <mat-form-field class="margin-right-md">
            <input matInput
                   placeholder="Enter the song name"
                   formControlName="song">
            <mat-error *ngIf="addBandForm.get('song').invalid">Required field</mat-error>
        </mat-form-field>

        <div>
            <button mat-raised-button>Добавить</button>
        </div>
    </form>
</div>