<div class="add-bands-container">
    <h4>Добавте песни, которые вы играете</h4>
    <form [formGroup]="formGroup"
          #form="ngForm"
          class="add-bands-form"
          novalidate
          (submit)="onSubmit()">
        <mat-form-field class="margin-right-md">
            <input matInput
                   placeholder="Enter the band name"
                   formControlName="band">
            <mat-error *ngIf="formGroup.get('band').invalid">Required field</mat-error>
        </mat-form-field>

        <mat-form-field class="margin-right-md">
            <input matInput
                   placeholder="Enter the song name"
                   formControlName="song">
            <mat-error *ngIf="formGroup.get('song').invalid">Required field</mat-error>
        </mat-form-field>

        <div>
            <button type="submit"
                    mat-raised-button
                    [disabled]="formGroup.invalid">Добавить</button>
        </div>
    </form>
    <div class="covers-container">
        <mat-chip-list>
            <mat-chip
                    [color]="'accent'"
                    *ngFor="let cover of covers"
                    [removable]="true"
                    (removed)="onCoverRemoved(cover)">
                {{cover.band + (cover.song ? (' - '+ cover.song): '')}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>