.auth-components-action-button {
  margin-top: 20px;
}

.auth-components-secondary-button-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;

}

.auth-components-basement {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: flex-start
}
