<h4 class="app-info-block">Добавьте ссылки на ваш сайт и социальные сети</h4>
<form [formGroup]="form"
      #linksFormGroup="ngForm"
      class="add-link-form"
      novalidate
      (submit)="onLinkSubmit()">
    <mat-form-field class="margin-right-md">
        <input matInput
               placeholder="Ссылка"
               formControlName="link">
        <mat-error *ngIf="form.get('link').invalid">Обязательное поле</mat-error>
    </mat-form-field>

    <mat-form-field class="margin-right-md">
        <input matInput
               placeholder="Описание"
               formControlName="description">
        <mat-error *ngIf="form.get('description').invalid">Обязательное поле</mat-error>
    </mat-form-field>

    <div>
        <button type="submit"
                mat-raised-button
                [disabled]="form.invalid">Добавить
        </button>
    </div>
</form>

<mat-table [dataSource]="links" class="mat-elevation-z1 links-table">

    <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef> Ссылка</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a [href]="element.link"
            target="_blank">{{element.link}}</a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Описание</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="linksTableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: linksTableColumns;"></mat-row>
</mat-table>