<div class="header" mat-dialog-title>
  <span class="header-text">{{header}}</span>
  <button mat-icon-button class="close-dialog-button"
          (click)="onCancelClick()">
    <mat-icon class="close-dialog-icon">clear</mat-icon>
  </button>
</div>
<div mat-dialog-content class="dialog-content">
  <app-sign-in
    *ngIf="currentTab === AuthDialogTab.Login"
    (signIn)="onSignIn($event)"
    (goToRegister)="goToTab(AuthDialogTab.Register)"
    (goToForgotPassword)="goToTab(AuthDialogTab.ForgotPassword)"
  ></app-sign-in>

  <app-register
    *ngIf="currentTab === AuthDialogTab.Register"
    (register)="onRegister($event)"
    (goToLogIn)="goToTab(AuthDialogTab.Login)"
  >

  </app-register>

  <app-forgot-password
    *ngIf="currentTab === AuthDialogTab.ForgotPassword">

  </app-forgot-password>
</div>

<div class="spinner-container"
     *ngIf="isLoading">
  <mat-spinner>
  </mat-spinner>
</div>
