@import "~src/app/shared/styles/common";

.images-container {
  display: flex;
  flex-wrap: wrap;

  img {
    height: 100px;
  }
}

.image-container {
  position: relative;
  margin-right: $margin-sm;
  margin-bottom: $margin-sm;

  .remove-button {
    cursor: pointer;
    position: absolute;
    right: $margin-sm/2;
    top: $margin-sm/2;
    color: $red;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.controls-container {
  display: flex;
  justify-content: flex-end;
}