<div class="images-container">
    <div class="image-container" *ngFor="let imageUrl of imagesUrls">
        <img [src]="imageUrl">
        <mat-icon class="remove-button"
                  (click)="imageDelete.emit(imageUrl)">cancel
        </mat-icon>
    </div>
</div>
<div class="controls-container" *ngIf="!maxImagesReached">
    <app-file-upload-button
            [accept]="'.jpg,.gif,.png,.jpeg,.jpe'"
            [multiple]="isMutlipleUploadEnabled"
            (filesAttached)="onImagesAttached($event)"
    ></app-file-upload-button>
</div>

<div class="spinner-container"
     *ngIf="isLoading">
    <mat-spinner>
    </mat-spinner>
</div>