<h1 mat-dialog-title>Как получить код для вставки</h1>
<div mat-dialog-content>
  Вы можете добавить видео с youtube, ВКонтакте, rutube, vimeo и других ресурсов

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Youtube">
      <h3 class="step-header">1.</h3>
      <div class="image-container">
        <img src="assets/images/video-embeed-help/youtube-1.jpg">
      </div>
      <h3 class="step-header">2.</h3>
      <div class="image-container">
        <img src="assets/images/video-embeed-help/youtube-2.jpg">
      </div>
      <h3 class="step-header">3.</h3>
      <div class="image-container">
        <img src="assets/images/video-embeed-help/youtube-3.jpg">
      </div>

    </mat-tab>
    <mat-tab label="ВКонтакте"> Content 2 </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
    <button mat-raised-button
            color="primary"
            (click)="onCloseClick()"
            cdkFocusInitial>Понятно</button>
</div>
