@import "app/shared/styles/common";

:host {
  @include form-page();

  .spinner-spacer {
    position: absolute;
  }

  .create-artist-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
