<form [formGroup]="form"
      (ngSubmit)="form.valid && onSubmit()"
      class="flex-column spacer">
  <mat-form-field>
    <mat-label>Электронная почта</mat-label>
    <input matInput
           formControlName="email"
           required>
    <mat-error *ngIf="emailControl.hasError('required')">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('email')">
      Неверный формат электронной почты
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input matInput
           type="password"
           [minlength]="PASSWORD_MIN_LENGTH"
           [maxlength]="PASSWORD_MAX_LENGTH"
           formControlName="password"
           required>
    <mat-error *ngIf="passwordControl.hasError('required')">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('minlength')">
      Пароль должен содержать как минимум {{PASSWORD_MIN_LENGTH}} символов
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('maxlength')">
      Пароль не должен превышать {{PASSWORD_MAX_LENGTH}} символов
    </mat-error>
  </mat-form-field>

  <button mat-raised-button
          type="submit"
          class="auth-components-action-button"
          color="primary"
          [disabled]="form.invalid">
    Войти
  </button>

  <div class="auth-components-basement margin-top-sm">
    <button mat-button
            class="forgot-button"
            color="primary"
            (click)="goToForgotPassword.emit()">
      Забыли пароль?
    </button>
  </div>
  <div class="auth-components-basement">
    <span>У вас нет учетной записи?</span>
    <button mat-button
            color="primary"
            class="forgot-button"
            (click)="goToRegister.emit()">
      Зарегистрироваться
    </button>
  </div>
</form>
