<form [formGroup]="form"
      (ngSubmit)="form.valid && onSubmit()"
      class="responsive-form">
  <mat-form-field>
    <mat-label>Электронная почта</mat-label>
    <input matInput
           formControlName="email"
           required>
    <mat-error *ngIf="emailControl.hasError('required')">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('pattern')">
      Неверный формат электронной почты
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input matInput
           type="password"
           minlength="6"
           maxlength="25"
           formControlName="password"
           required>
    <mat-hint align="end" aria-live="polite">
      {{form.value.password.length}} / 25
    </mat-hint>
    <mat-error *ngIf="passwordControl.hasError('required')">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('minlength')">
      Пароль должен содержать как минимум 6 символов
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('maxlength')">
      Пароль не должен превышать 25 символов
      The password must not exceed 25 characters
    </mat-error>
  </mat-form-field>

  <button mat-raised-button
          type="submit"
          class="login-button"
          color="primary"
          [disabled]="form.invalid">
    Войти
  </button>

  <div class="forgot-button-container">
    <button mat-button
            class="forgot-button"
            color="primary"
            (click)="forgotPassword.emit()">
      Забыли пароль?
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="register-button-container">
    <span>Еще не зарегистрированы?</span>
    <button mat-button
            color="primary"
            class="forgot-button"
            (click)="register.emit()">
      Зарегистрироваться
    </button>
  </div>
</form>
