.responsive-form {
  display: flex;
  flex-direction: column;
}

.login-button {
  margin-top: 20px;
}

.forgot-button-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;

}

.register-button-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: flex-start
}
