<form [formGroup]="form"
      (ngSubmit)="form.valid && onSubmit()"
      class="flex-column spacer">
  <mat-form-field>
    <mat-label>Электронная почта</mat-label>
    <input matInput
           formControlName="email"
           required>
    <mat-error *ngIf="emailControl.hasError('required')">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('email')">
      Неверный формат электронной почты
    </mat-error>
  </mat-form-field>

  <button mat-raised-button
          type="submit"
          class="auth-components-action-button"
          color="primary"
          [disabled]="form.invalid">
    Отправить ссылку для восстановления пароля
  </button>

  <div class="auth-components-basement margin-top-sm">
    <button mat-button
            class="forgot-button"
            color="primary"
            (click)="goBack.emit()">
      Назад
    </button>
  </div>
</form>
