@import "app/shared/styles/common";

:host {
  @include form-page();

  ::ng-deep {
    .mat-tab-body-content {
      padding-top: $margin-md * 2;
    }
  }

  .spinner-spacer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .app-tabs {
    display: flex;

    .app-tabs-navigation-menu {
      .app-tabs-navigation-item {
        &.selected {
          border-left: 2px solid $primary;
          background-color: rgba(0, 0, 0, 0.1);
        }

        &[disabled] {
          color: $grey;

          &:hover {
            background-color: transparent;
            cursor: auto;
          }
        }
      }
    }

    .app-tabs-content {
      flex: 1;
      margin-left: $margin-lg;
      padding: 24px;
    }

    .app-tabs-content-option {
      display: none;
      height: 100%;

      &.selected {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .app-form-header {
    margin-bottom: $margin-xl;
  }
}
