<div class="app-form-wrapper">
  <h3 class="app-form-header">Изменить профиль</h3>

  <div class="app-tabs" *ngIf="!!(artist$ | async)">
    <mat-action-list class="app-tabs-navigation-menu">
      <button class="app-tabs-navigation-item"
              mat-list-item
              *ngFor="let tab of (tabs$ | async)"
              [ngClass]="{'selected': (selectedTab$ | async) === tab}"
              (click)="onTabClick(tab)"
      >{{t.editArtist.tabs[tab]}}</button>
    </mat-action-list>
    <mat-card class="app-tabs-content">
      <app-edit-artist-main-info
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Main}"
        [artist]="artist$ | async"
        (saveClick)="updateArtist($event)">
      </app-edit-artist-main-info>

      <app-edit-artist-contacts
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Contacts}"
        [artist]="artist$ | async"
        (saveClick)="updateArtist($event)">
      </app-edit-artist-contacts>

      <app-edit-artist-links
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Links}"
        [links]="links$ | async"
        (linksChange)="onLinksSave($event)">
      </app-edit-artist-links>

      <app-edit-artist-prices
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Prices}"
        [artist]="artist$ | async"
        (pricesChange)="updateArtist($event)">
      </app-edit-artist-prices>

      <app-edit-artist-covers
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Covers}"
        [covers]="covers$ | async"
        (coversChange)="onCoversChange($event)">
      </app-edit-artist-covers>

      <app-edit-artist-images
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Photo}"
        [artist]="artist$ | async"
        (profileImageAttached)="onProfileImageAttached($event)"
        (profileImageDelete)="onProfileImageDelete()"
        (imageAttached)="onImageAttached($event)"
        (imageDelete)="onImageDelete($event)"
      ></app-edit-artist-images>

      <app-edit-artist-videos
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Video}"
        [videos]="videos$ | async"
        (videosChange)="onVideosSave($event)">
      </app-edit-artist-videos>
    </mat-card>
  </div>

  <div class="spinner-spacer"
       *ngIf="isLoading$ | async">
    <mat-spinner>
    </mat-spinner>
  </div>

</div>


