@import "app/shared/styles/common";

:host {
  @include form-page();

  ::ng-deep {
    .mat-tab-body-content {
      padding-top: $margin-md * 2;
    }
  }

  .spinner-spacer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
