<div class="app-form-wrapper" *ngIf="!!(artist$ | async)">
  <h3
    class="app-form-header">{{(isOnboarding$ |async) ? t.editArtist.onboardingHeader : t.editArtist.editingHeader}}</h3>

  <div class="app-tabs">
    <mat-action-list class="app-tabs-navigation-menu">
      <button class="app-tabs-navigation-item"
              [disabled]="(isOnboarding$ |async) === true && (selectedTab$ | async) !== tab"
              mat-list-item
              *ngFor="let tab of (tabs$ | async)"
              [ngClass]="{'selected': (selectedTab$ | async) === tab}"
              (click)="onTabClick(tab)"
      >{{t.editArtist.tabs[tab]}}</button>
    </mat-action-list>
    <mat-card class="app-tabs-content">
      <app-edit-artist-main-info
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Main}"
        [artist]="artist$ | async"
        [saveButtonText]="saveButtonText$ | async"
        [isOnboarding]="(isOnboarding$ |async) === true"
        (saveClick)="updateArtist($event, EditArtistTab.Main)"
        (togglePublished)="onTogglePublished()">
      </app-edit-artist-main-info>

      <app-edit-artist-images
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Photo}"
        [artist]="artist$ | async"
        [showNextButton]="isOnboarding$ | async"
        (profileImageAttached)="onProfileImageAttached($event)"
        (imageAttached)="onImageAttached($event)"
        (imageDelete)="onImageDelete($event)"
        (nextButtonClick)="onImagesNextButton()"
      ></app-edit-artist-images>

      <app-edit-artist-videos
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Video}"
        [videos]="videos$ | async"
        [saveButtonText]="saveButtonText$ | async"
        (saveVideos)="onVideosSave($event)">
      </app-edit-artist-videos>

      <app-edit-artist-prices
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Prices}"
        [artist]="artist$ | async"
        [saveButtonText]="saveButtonText$ | async"
        (savePrices)="updateArtist($event, EditArtistTab.Prices)">
      </app-edit-artist-prices>

      <app-edit-artist-contacts
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Contacts}"
        [artist]="artist$ | async"
        [saveButtonText]="saveButtonText$ | async"
        (saveClick)="updateArtist($event, EditArtistTab.Contacts)">
      </app-edit-artist-contacts>

      <app-edit-artist-links
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Links}"
        [links]="links$ | async"
        [showNextButton]="isOnboarding$ | async"
        (linksChange)="onLinksChange($event)"
        (nextButtonClick)="onLinksNextClick()">
      </app-edit-artist-links>

      <app-edit-artist-covers
        class="app-tabs-content-option"
        [ngClass]="{'selected': (selectedTab$ | async) === EditArtistTab.Covers}"
        [covers]="covers$ | async"
        [showNextButton]="isOnboarding$ | async"
        (coversChange)="onCoversChange($event)"
        (nextButtonClick)="onCoversNextClick()">
      </app-edit-artist-covers>
    </mat-card>
  </div>

</div>
<div class="spinner-spacer"
     *ngIf="isLoading$ | async">
  <mat-spinner>
  </mat-spinner>
</div>


